
body {
    font-family: Montserrat;
}

.bg-peach {
    background: #ef8172;
}

.bg-main {
    background: #ff4c68;
}

h1 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
    font-size: 3.5rem;
    line-height: 1.5;
}

/*
.container-fluid {
    padding: 3% 15%
}
*/

#title {
    background-color: #ff4c68;
    color: #fff;
}

.title-image {
    margin: 0 15%;
    width: 60%;
    transform: rotate(25deg);
    position: absolute;
}

/*NAV BAR*/

.nav-bar {
    position: fixed;
}

.navbar-brand {
    font-family: Ubuntu;
    font-size: 2.5rem;
    font-weight: bold;
}

.nav-link{
    font-size: 1.2rem;
    font-weight: 300;
}


/*FEATURES */

.features-icon {
    color: #ef8172
}

.features-icon:hover {
    color: #ff4c68;
}

#features {
    background-color: white;
    position: relative;
    z-index: 1;
}

#features h3 {
    font-family: Montserrat;
    font-weight: 800
}


/*TESTIMONIALS*/

#testimonials {
    background: #ef8172;
    color: white;
}

#testimonials h2 {
    font-family: Montserrat;
    font-weight: 700;
    font-size: 3rem;
    line-height: 1.5;
}

.press-logo {
    width: 15%;

}

/*PRICING*/

#pricing h2 {
    font-family: Montserrat;
    font-weight: 800;
    font-size: 3rem
}

#pricing p {
    font-family: Ubuntu;
}

#pricing h3 {
    font-family: Montserrat;
    font-weight: 800
}


/*CALL TO ACTION*/

#cta h3 {
    font-family: Montserrat;
    font-weight: 700;
    font-size: 3rem;
    line-height: 1.5;
    color: white;
}
